<div class="footer-info">
  <div class="socila-icons">
    <a href="https://www.facebook.com/"><fa-icon [icon]="faFacebook"></fa-icon></a>
    <a href="https://www.twitter.com/"><fa-icon [icon]="faTwitter"></fa-icon></a>
    <a href="https://www.linkedin.com/"><fa-icon [icon]="faGooglePlus"></fa-icon></a>
    <a href="https://www.instagram.com/"><fa-icon [icon]="faInstagram"></fa-icon></a>
  </div>
    <h3>Antony Barnet</h3>
    <p>&copy; 2021 All rights reserved</p>
    <p>Design-TemlateFlip</p>
</div>