<div class="social-links">
  <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
  <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
  <a href="#"><fa-icon [icon]="faGooglePlus"></fa-icon></a>
  <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
</div>
<div class="cards">
  <div class="left-side">
    <h3>About</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate mollitia natus sed, minus qui id aspernatur eum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat laboriosam assumenda natus. Dolore nam corporis, laborum temporibus, soluta molestias distinctio facilis possimus accusamus saepe optio, quasi laboriosam fugit quae?
    </p>
  </div>
  <div class="right-side">
    <h3>Basic Information</h3>
    <ul>
      <li>
        <div class="ietem">Age:</div> <div>John Doe</div>
      </li>
      <li>
        <div class="ietem" >Email:</div> <div>30</div>
      </li>
      <li>
        <div class="ietem" >Phone:</div> <div>New York, USA</div>
      </li>
      <li>
        <div class="ietem" >Address:</div> <div>New York, USA</div>
      </li>
      <li>
        <div  class="ietem">Address:</div> <div>New York, USA</div>
      </li>

    </ul>
  </div>
</div>