<div class="exprience-title">
  <h3 >
    Work Exprience
  </h3>
</div>

<div class="cards">
    <div class="left-side">
      <p>
        MARCH 2020 - PRESENT  
      </p>
      <h4>
        CREATIVEM
      </h4>
    </div>
    <div class="right-side">
      <h4>
        Front End Developer
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat nam deleniti repudiandae impedit fugit officia sed facilis iste, recusandae quam minus, libero neque perferendis architecto necessitatibus sint cupiditate quaerat!</p>
    </div>
</div>

<div class="cards">
  <div class="left-side">
    <p>
      MARCH 2020 - PRESENT  
    </p>
    <h4>
      CREATIVEM
    </h4>
  </div>
  <div class="right-side">
    <h4>
      Front End Developer
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat nam deleniti repudiandae impedit fugit officia sed facilis iste, recusandae quam minus, libero neque perferendis architecto necessitatibus sint cupiditate quaerat!</p>
  </div>
</div>

<div class="cards">
  <div class="left-side">
    <p>
      MARCH 2020 - PRESENT  
    </p>
    <h4>
      CREATIVEM
    </h4>
  </div>
  <div class="right-side">
    <h4>
      Front End Developer
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat nam deleniti repudiandae impedit fugit officia sed facilis iste, recusandae quam minus, libero neque perferendis architecto necessitatibus sint cupiditate quaerat!</p>
  </div>
</div>