<div class="profesional-title">
  <h3 >
    Professinal Skills 
  </h3>
</div>

<div class="cards">
  <div class="left-side">
    <div class="tech-skills">
      <div>HTML</div>
      <div>90%</div>
    </div>
    <div class="progress">
      <div class="progress-bar" style="width: 90%;" ></div>
    </div>
    <div  class="tech-skills">
      <div>JAVASCRIPT</div>
      <div>80%</div>
    </div>
    <div class="progress">
      <div class="progress-bar" style="width: 85%;"></div>
    </div>
    <div  class="tech-skills">
      <div>BOOTSTRAP</div>
      <div>70%</div>
    </div>
    <div class="progress">
      <div class="progress-bar" style="width: 80%;"></div>
    </div>
  </div>
  
  <div class="right-side">
    <div  class="tech-skills">
      <div>CSS</div>
      <div>70%</div>
    </div>
    <div class="progress">
      <div class="progress-bar" style="width: 70%;"></div>
    </div>
    <div  class="tech-skills">
      <div>SASS</div>
      <div>70%</div>
    </div>
    <div class="progress">
      <div class="progress-bar" style="width: 65%;"></div>
    </div>
    <div  class="tech-skills">
      <div>PHOTOSHOP</div>
      <div>70%</div>
    </div>
    <div class="progress">
      <div class="progress-bar" style="width: 60%;"></div>
    </div>  
  </div>
</div>
